$accent-color: rgb(0, 200, 200);
$main-color: rgb(220, 220, 220);
$sub-color: rgb(169, 169, 169);

.about {
    height: 100vh;
    width: 100vw;
    background: #080e21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-spacing {
    width: 66%;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: calc(60% - 3rem);
    width: calc(60% - 3rem);
    padding-right: 3rem;
}

.about-header {
    color: $accent-color;
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.about-header::after {
    content: '';
    width: 48vw;
    border-bottom: 2px solid $accent-color;
    height: 2px;
    position: absolute;
    right: -51vw;
    top: 1rem;  
}

.content p {
    color: $sub-color;
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.5rem;
}

.content a {
    color: $accent-color;
    text-decoration: none;
    position: relative;
}

.content a:hover::after {
    width: 90%;
}

.content a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    left: 5%;
    transition: width 0.2s linear;
}

.tech-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    width: 100%;
    margin-left: 1rem;
}

.tech-item {
    margin: 0.5rem 0;
    color: $sub-color; 
    font-size: 0.9rem;
    position: relative;
}

.tech-item::before {
    content: '→';
    position: absolute;
    left: -1rem;
    color: $accent-color;
}

.pictures {
    min-width: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.picture-holder {
    width: 100%;
    height: auto;
    position: relative;
}

.pictures img {
    margin: 1rem;
    width: calc(100% - 2rem);   
}

.curtain {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    background-color: rgba(0, 200, 200, 0.2);
}

@keyframes topSquish {
    0% {
        height: calc(100% - 2rem);
        top: 0;
    }
    75% {
        height: 2px;
        background-color: $accent-color;
        top: 0;
    }
    100% {
        height: 2px;
        background-color: $accent-color;
        top: -2rem;
    }
}

@keyframes topGrow {
    0% {
        height: 2px;
        background-color: $accent-color;
        top: -2rem;
    }
    25% {
        height: 2px;
        background-color: $accent-color;
        top: 0;
    }
    100% {
        height: calc(100% - 2rem);
        top: 0;
    }
}

.top-curtain {
    animation: topGrow 0.35s linear forwards;
    top: 0;
}

.picture-holder:hover .top-curtain {
    animation: topSquish 0.35s linear forwards;
}

@keyframes botSquish {
    0% {
        height: calc(100% - 2rem);
        
    }
    75% {
        height: 2px;
        background-color: $accent-color;
        
    }
    100% {
        height: 2px;
        background-color: $accent-color;
        bottom: -2rem;
    }
}

@keyframes bottomGrow {
    0% {
        height: 2px;
        background-color: $accent-color;
        bottom: -2rem;
    }
    25% {
        height: 2px;
        background-color: $accent-color;
        
    }
    100% {
        height: calc(100% - 2rem);
        
    }
}

.bot-curtain {
    animation: bottomGrow 0.35s linear forwards;
    bottom: 0;
}

.picture-holder:hover .bot-curtain {
    animation: botSquish 0.35s linear forwards;
}

@keyframes leftSquish {
    0% {
        width: calc(100% - 2rem);
        left: 0;
    }
    75% {
        width: 2px;
        background-color: $accent-color;
        left: 0;
    }
    100% {
        width: 2px;
        background-color: $accent-color;
        left: -2rem;
    }
}

@keyframes leftGrow {
    0% {
        width: 2px;
        background-color: $accent-color;
        left: -2rem;
    }
    25% {
        width: 2px;
        background-color: $accent-color;
        left: 0;
    }
    100% {
        width: calc(100% - 2rem);
        left: 0;
    }
}

.left-curtain {
    animation: leftGrow 0.35s linear forwards;
    left: 0;
    top: 0;
}

.picture-holder:hover .left-curtain {
    animation: leftSquish 0.35s linear forwards;
}

@keyframes rightSquish {
    0% {
        width: calc(100% - 2rem);
        right: 0;
    }
    75% {
        width: 2px;
        background-color: $accent-color;
        right: 0;
    }
    100% {
        width: 2px;
        background-color: $accent-color;
        right: -2rem;
    }
}

@keyframes rightGrow {
    0% {
        width: 2px;
        background-color: $accent-color;
        right: -2rem;
    }
    25% {
        width: 2px;
        background-color: $accent-color;
        right: 0;
    }
    100% {
        width: calc(100% - 2rem);
        right: 0;
    }
}

.right-curtain {
    animation: rightGrow 0.35s linear forwards;
    right: 0;
    top: 0;
}

.picture-holder:hover .right-curtain {
    animation: rightSquish 0.35s linear forwards;
}