/* ---------- Table of Contents ---------- 

    1. Homepage.js styles
    2. Cradle.js styles
    3. Ticker.js styles

   ---------- Table of Contents ---------- */


/* ---------- Homepage styles ---------- */
.homepage {
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ---------- Cradle styles ---------- */
.cradle {
    min-width: 400px;
    min-height: 40vh;
    border-top: 4px solid aliceblue;
    border-bottom: 10px solid aliceblue;
    display: flex;
    justify-content: center;
}

.ball {
    position: relative;
    width: 4px;
    background-color: aliceblue;
    margin: 0 38px;
    transform-origin: top;
}

.ball::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -36px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: aliceblue;
}

@keyframes leftBall {
    0%  { transform: rotate(0deg); }
    5%  { transform: rotate(14deg); }
    10%  { transform: rotate(26.45deg); }
    15%  { transform: rotate(36.4deg); }
    20%  { transform: rotate(42.8deg); }
    25%  { transform: rotate(45deg); }
    30%  { transform: rotate(42.8deg); }
    35%  { transform: rotate(36.4deg); }
    40%  { transform: rotate(26.45deg); }
    45%  { transform: rotate(14deg); }
    50%  { transform: rotate(0deg); }
    100%  { transform: rotate(0deg); }
}
.ball:first-child {
    animation-name: leftBall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rightBall {
    0%  { transform: rotate(0deg); }
    50%  { transform: rotate(0deg); }
    55%  { transform: rotate(-14deg); }
    60%  { transform: rotate(-26.45deg); }
    65%  { transform: rotate(-36.4deg); }
    70%  { transform: rotate(-42.8deg); }
    75%  { transform: rotate(-45deg); }
    80%  { transform: rotate(-42.8deg); }
    85%  { transform: rotate(-36.4deg); }
    90%  { transform: rotate(-26.45deg); }
    95%  { transform: rotate(-14deg); }
    100%  { transform: rotate(0deg); }
}
.ball:last-child {
    animation-name: rightBall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

