$accent-color: rgb(0, 200, 200);
$main-color: rgb(220, 220, 220);
$sub-color: rgb(169, 169, 169);

.navigation {
    border-radius: 1.5rem;
    height: 3rem;
    width: 85%;
    position: fixed;
    left: 7.5%;
    background: linear-gradient(rgba(169, 169, 169, 0.05), rgba(0, 0, 0, 0.5));
    top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    transition: top 0.2s linear;
}

.navigation button {
    margin-left: 1rem;
    margin-right: 2rem;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    color: white;
    height: 2rem;
}

.navigation li {
    margin: 0 1rem;
    transition: color 0.2s linear;
}

.navigation li:hover {
    color: $accent-color;
}

.selected {
    color: $accent-color;
    border-left: 2px solid $accent-color !important;
    border-right: 2px solid $accent-color !important;
}

.navigation a {
    cursor: pointer;
    padding: 0 0.5rem;
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
}

.resume {
    color: $accent-color;
    text-decoration: none;
}

.show {
    top: 1rem;
}

.hide {
    top: -4rem;
}